# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
.env

# Poetry
poetry.lock

# Pyenv
.python-version

# Tests / tooling
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# macOS
.DS_Store
